<html>
  <head>
    <title>SAS</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
    <script src="static/js/home.js"></script>
  </head>
  <body>
    <h1>Welcome to SAS POC</h1>
   Enter Ticket ID(Range between 10 and 20):<br>
  <input id = "ticketID" type="text" name="firstname">
  <br>
  <input id = "submit" type="submit" value="Submit">
  </body>
  <div>
    <div class="similarTickets"></div>
</div>
</html>
