<html>
  <head>
    <title>SAS</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
    <script src="static/js/home.js"> </script>
  </head>
  <body>
      <h1>Welcome to SAS POC</h1>
     Enter Ticket ID(Range between 1 and 100000):<br>
    <input id = "ticket-id" type="text" name="firstname">
    <br/>
    <input id = "submit" type="submit" value="Submit">

    <div>
      <div class="ticket-details">

      </div>
      <div class="similar-tickets">

      </div>
    </div>
  </body>

</html>
